input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type='number'] {
  text-align: right;
}


input[type='text'] {
  text-align: right;
}

input.annual-salary {
  width: 100px !important;
}

input.hourly-salary {
  width:75px !important;
}

input.budget-amount {
  width:75px !important;
  text-align: center !important;
}

input.budget-percent {
  width:40px !important;
  text-align: center !important;
}

.progress {
  background-color: #d3dae2 !important;
}